<div class="amp-block">
    <div class="amp-table-wrapper" id="project-info">
        <table class="table table-right-bordered amp-table">
            <thead>
            <tr>
                <th>总面积(m&sup2)</th>
                <th>出租率</th>
                <th>出租面积(m&sup2)</th>
                <th>铺位数(个)</th>
                <th>在租均价(元/m&sup2/天)</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tr-info-main">
                <td>
                    <h3 class="ng-binding">{{dCtrl.projectData.area|number:2}}</h3>
                </td>
                <td>
                    <h3 class="ng-binding">{{dCtrl.projectData.rental_rate|number:2}}%</h3>
                </td>
                <td>
                    <h3 class="ng-binding">{{dCtrl.projectData.rentable_area|number:2}}</h3>
                </td>
                <td>
                    <h3 class="ng-binding">{{dCtrl.projectData.shop_num|number:0}}</h3>
                </td>
                <td>
                    <h3 class="ng-binding">{{dCtrl.projectData.avg_rental|number:2}}</h3>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div><!--ys-block-->
<div class="amp-block" id="amp-block-floor">
    <div class="amp-section amp-section-left">
        <div class="amp-section-content">
            <div class="panel-group" id="amp-accordion" >
                <div class="panel panel-default" ng-repeat="floor in dCtrl.floorsData track by $index" id="panel-{{$index}}">
                    <div class="panel-heading" id="heading-{{$index}}" ng-click="dCtrl.getFloorInfo(floor.id)">
                        <div class="panel-title collapsed" data-toggle="collapse" data-parent="#amp-accordion" data-fid="{{floor.id}}" href="#collapse-{{$index}}">
                            <div class="amp-floor-title">
                                <h5>{{floor.name}}</h5>
                                <em class="amp-area-addon">{{floor.floor_area|number:0}}m&sup2</em>
                            </div><!--floor title-->


                            <div class="amp-floor-area">
                                <div class="amp-floor-rented" style="width:70%">
                                    <div class="floor-rented-info clearfix">
                                        <em class="amp-rented-area pull-left">{{floor.rental_area|number:0}}m&sup2</em>
                                        <em class="amp-rented-rate pull-right">{{floor.rental_rate|number:2}}%</em>
                                    </div>
                                </div>

                            </div><!--floor-header-->

                        </div>
                    </div>
                    <div id="collapse-{{$index}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="amp-shop-wrapper clearfix">
                                <li class="amp-shop-item" ng-repeat="shop in floor.shops" data-sid="{{shop.id}}" ng-click="dCtrl.getShopInfo(shop.id)"
                                    data-toggle="tooltip" data-placement="top" title="{{shop.name+':'+dCtrl.getShopName(shop.shopNames)}}"
                                    ng-class="{'shop-status-rented':shop.status=='leasing','shop-status-expired':shop.status=='expired','shop-status-arrearage':shop.warning==true}">
                                    <div class="shop-item-info">
                                        <h5>{{dCtrl.getShopName(shop.shopNames)}}</h5>
                                        <span>{{shop.name}}</span>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div><!--panel-->

            </div><!--panel group-->
            <div class="legend-wrapper">
                <div class="chart-legend">
                    <span class="chart-legend-item"><em class="color-label" style="background-color:#8592a3;"></em><i class="name">空铺</i></span>
                    <span class="chart-legend-item"><em class="color-label" style="background-color:#6addfc;"></em><i class="name">已租店铺</i></span>
                    <span class="chart-legend-item"><em class="color-label" style="background-color:#fad24c;"></em><i class="name">合同到期</i></span>
                    <span class="chart-legend-item"><em class="color-label" style="background-color:#ee1c43;"></em><i class="name">欠费</i></span>
                    <span class="chart-legend-item"><em class="color-label" style="background-color:#f58c4b;"></em><i class="name">当前选中</i></span>
                </div>
            </div><!--legend-wrapper-->
        </div><!--amp-section-content-->
    </div><!--ys-section-->
    <div class="amp-section amp-section-right">
        <div class="amp-panel amp-panel-project" ng-show="dCtrl.floorInfoShow && dCtrl.floorInfo==undefined">
            <div class="amp-panel-title">
                <h3>请选择楼层以显示详情</h3>
                <!--<div class="amp-table-wrapper">
                </div>-->
            </div>
        </div>

        <div class="amp-panel amp-panel-project" ng-if="dCtrl.floorInfo!=undefined" ng-show="dCtrl.floorInfoShow">
            <div class="amp-panel-title">
                <h3>L3</h3>
                <div class="amp-table-wrapper">
                    <table class="table table-right-bordered amp-table">
                        <colgroup>
                            <col width="40%">
                            <col width="30%">
                            <col width="30%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>可出租面积(m&sup2)</th>
                            <th>铺位数(个)</th>
                            <th>出租率</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-info-main">
                            <td>
                                <h3 class="ng-binding">{{dCtrl.floorInfo.floor_area|number:0}}</h3>
                            </td>
                            <td>
                                <h3 class="ng-binding">{{dCtrl.floorInfo.shop_num}}</h3>
                            </td>
                            <td>
                                <h3 class="ng-binding">{{dCtrl.floorInfo.rental_rate|number:0}}%</h3>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div><!--amp-panel-title-->
            <div class="amp-table-content">
                <div class="amp-table-wrapper">
                    <table class="table amp-table amp-table-noborder">
                        <colgroup>
                            <col width="30%">
                            <col width="70%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>开业商户</th>
                            <td>{{dCtrl.floorInfo.open_num}}个</td>
                        </tr>
                        <tr>
                            <th>开业率</th>
                            <td>{{dCtrl.floorInfo.open_rate}}%</td>
                        </tr>
                        <tr>
                            <th>平均租金</th>
                            <td>{{dCtrl.floorInfo.avg_rental}}元/m&sup2/天</td>
                        </tr>
                        <tr>
                            <th>租金</th>
                            <td>{{dCtrl.floorInfo.rental_income|number:2}}</td>
                        </tr>
                        <tr>
                            <th>物管</th>
                            <td>{{dCtrl.floorInfo.manage_fee|number:2}}</td>
                        </tr>
                        </tbody><!--tbody-->

                        <tbody>
                        <tr>
                            <th>欠费</th>
                            <td><a href="{{dCtrl.floorInfo.arrearage.link}}" class="amp-link amp-link-warning">{{dCtrl.floorInfo.arrearage.num}}个商家</a></td>
                        </tr>
                        <tr>
                            <th>到期</th>
                            <td><a href="{{dCtrl.floorInfo.lease_expires.link}}" class="amp-link amp-link-warning">{{dCtrl.floorInfo.lease_expires.num}}个商家</a></td>
                        </tr>

                        </tbody><!--tbody-->
                    </table>
                </div>
            </div><!--amp-table-content-->
        </div><!--ys-panel-->

        <div class="amp-panel amp-panel-project" ng-show="!dCtrl.floorInfoShow && dCtrl.shopInfo==undefined">
            <div class="amp-panel-title">
                <h3>请选择一个店铺</h3>
                <!--<div class="amp-table-wrapper">
                </div>-->
            </div>
        </div>
        <div class="amp-panel amp-panel-shop" ng-if="dCtrl.shopInfo!=undefined" ng-show="!dCtrl.floorInfoShow">
            <div class="amp-panel-title">
                <h3>{{dCtrl.shopInfo.name}}</h3>
                <div class="amp-table-wrapper">
                    <table class="table table-right-bordered amp-table">
                        <colgroup>
                            <col width="50%">
                            <col width="50%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>店铺号</th>
                            <th>店铺面积(m&sup2)</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-info-main">
                            <td>
                                <h3 class="ng-binding">{{dCtrl.getShopName(dCtrl.shopInfo.shopNames)}}</h3>
                            </td>
                            <td>
                                <h3 class="ng-binding">{{dCtrl.shopInfo.shop_area|number:2}}</h3>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div><!--amp-panel-title-->
            <div class="amp-table-content">
                <div class="amp-table-wrapper">
                    <table class="table amp-table amp-table-noborder">
                        <colgroup>
                            <col width="35%">
                            <col width="65%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>签批业态</th>
                            <td>{{dCtrl.shopInfo.retailing_form}}</td>
                        </tr>
                        <tr>
                            <th>当前业态</th>
                            <td>{{dCtrl.shopInfo.cur_form}}</td>
                        </tr>
                        <tr>
                            <th>铺位类型</th>
                            <td>{{dCtrl.shopInfo.rental_type}}</td>
                        </tr>
                        <tr>
                            <th>商铺定位</th>
                            <td>{{dCtrl.shopInfo.shop_type}}</td>
                        </tr>
                        <tr>
                            <th>商户名</th>
                            <td>{{dCtrl.shopInfo.name}}</td>
                        </tr>
                        <tr>
                            <th>面积</th>
                            <td>{{dCtrl.shopInfo.shop_area|number:2}}m&sup2</td>
                        </tr>
                        <tr>
                            <th>租期</th>
                            <td>{{dCtrl.shopInfo.leasing_range.range}}</td>
                        </tr>
                        <tr>
                            <th>单价(标准)</th>
                            <td>{{dCtrl.shopInfo.avg_rental|number:2}}元/m&sup2/天</td>
                        </tr>

                        <tr>
                            <th>总额</th>
                            <td>{{dCtrl.shopInfo.all_rental|number:2|default:"-"}}元</td>
                        </tr>
                        <tr>
                            <th>欠费总额</th>
                            <td><a href="{{dCtrl.shopInfo.arrearage.link}}" class="amp-link amp-link-warning">{{dCtrl.shopInfo.arrearage.count|number:2|default:"-"}}</a>元</td>
                        </tr>
                        </tbody><!--tbody-->

                        <tbody>
                        <tr>
                            <th>租赁合同</th>
                            <td><a href="{{contract.link}}" ng-repeat="contract in dCtrl.shopInfo.contracts" class="amp-link">{{contract.name}}</a></td>
                        </tr>
                        <tr>
                            <th>租赁意向审批表</th>
                            <td><a href="{{intention.link}}" ng-repeat="intention in dCtrl.shopInfo.rental_intentions" class="amp-link">{{intention.name}}</a></td>
                        </tr>
                        <tr>
                            <th>合同审批表</th>
                            <td><a href="{{approval.link}}" ng-repeat="approval in dCtrl.shopInfo.contract_approvals" class="amp-link">{{approval.name}}</a></td>
                        </tr>
                        </tbody><!--tbody-->
                    </table>
                </div><!--amp-table-wrapper-->

                <div class="amp-chart-wrapper" id="rent-chart-wrapper" style="padding-left:0;padding-right:0;">
                    <div id="amp-rent-chart" style="height:310px;"
                         rent-chart chart-data="dCtrl.shopInfo.chart"></div>
                    <div class="chart-legend">
                        <span class="chart-legend-item"><em class="color-label" style="background-color:#18b0e2;"></em><i class="name">应收</i></span>
                        <span class="chart-legend-item"><em class="color-label" style="background-color:#ea7444;"></em><i class="name">实收</i></span>
                        <span class="chart-legend-item"><em class="color-label" style="background-color:#1abd9d;"></em><i class="name">租金包</i></span>
                    </div>
                </div>
            </div><!--amp-table-content-->
        </div><!--ys-panel-->
    </div><!--ys-section-->
</div><!--ys-block-->