<div class="amp-header-filter clearfix">
    <div class="dropdown amp-dropdown pull-left">
        <button class="btn btn-default dropdown-toggle" type="button" id="js-menu-project" data-toggle="dropdown">
            项目
            <span class="glyphicon glyphicon-menu-down"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div><!--amp-dropdown-->
    <!-- <div class="ys-date-picker pull-left" date-picker="" date-select="tCtrl.selectedDate({date:date})" ng-model="tCtrl.curDate" date-directive-name="tCtrl.dateDirectiveName" >
     </div>-->
    <div class="ys-date-picker pull-left">
        <div class="input-group date ys-datepicker">
            <input size="16" type="text" value="" data-provide="datepicker" name="date- {{dateDirectiveName}}" id="date-{{dateDirectiveName}}">
        </div>
    </div><!--ys-date-picker-->
    <div class="dropdown amp-dropdown pull-left">
        <button class="btn btn-default dropdown-toggle" type="button" id="js-menu-area" data-toggle="dropdown">
            建筑面积
            <span class="glyphicon glyphicon-menu-down"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div><!--amp-dropdown-->
</div><!--amp-header-filter-->