html,body{font-family: 'PingFang SC', 'Helvetica Neue',"STHeitiSC-Light","Microsoft YaHei",sans-serif;height:100%;width:100%;font-size:20px;min-width:1280px;
    -webkit-overflow-scrolling: touch;}
body{background-color: #fff;}
h1,h2,h3,h4,h5,h6,em,i,span{font-weight: normal;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,p,em,i,span,p{margin:0;padding:0;font-family:'PingFang SC', 'Helvetica Neue',"STHeitiSC-Light","Microsoft YaHei",sans-serif;font-weight: normal;
    font-style: normal;}
a,img,button{
    -webkit-box-shadow:none;
    box-shadow:none;
    transition: background-color 0.6s,border 0.6s,color 0.3s;
    -webkit-transition: background-color 0.6s ,border 0.6s, color 0.3s;
    tap-highlight-color: rgba(0,0,0,0);
    focus-ring-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);

    -moz-tap-highlight-color: rgba(0,0,0,0);
    -moz-focus-ring-color: rgba(0, 0, 0, 0);

    outline: none;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}
a:focus{ -webkit-box-shadow:none;box-shadow:none;}

/*patch*/
.page-container{padding:0 30px;background-color:#fcfcfc;}
.amp-block{margin-bottom:10px;}
.amp-section{}

.amp-header-filter{margin:0;padding-top:10px;padding-bottom:10px;padding-right:15px;height:52px;max-height: 60px;}
.amp-header-filter>div{margin-right:15px;}
.amp-header-filter .amp-dropdown{min-width:150px;position: relative;}
.amp-header-filter .amp-dropdown>.dropdown-menu{margin-top:0;max-height:300px;width:100%;border-radius:0;overflow:auto;}
.amp-dropdown>.btn{margin:0;width:100%;border-radius: 0;height:32px;line-height: 20px;border:solid 1px #dae1e7;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
    text-align: left;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #3a4153;
    outline: 0;
}
.amp-dropdown>.btn>span.glyphicon{position: absolute;width:14px;height:14px;right:10px;top:50%;margin-top:-7px;text-align: center;color:#8592a3;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;}

.amp-dropdown.open>.btn>span.glyphicon{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);}
.amp-dropdown .dropdown-menu>li>a{overflow:hidden;text-overflow: ellipsis;}
.ys-datepicker{width:150px;}
.ys-datepicker input{width:100%;padding:6px 12px;padding-right:34px;height:32px;line-height:20px;font-size:14px;color:#333;border-radius: 0;
    border:solid 1px #dae1e7;
    background-image:url(../images/icon_calendar.png);
    background-position:125px 7.5px;background-repeat: no-repeat; }


.raido-wrapper{padding-top:3px;padding-left:15px;}
.raido-wrapper .input-addon{color:#fff;font-size:12px;}
.raido-wrapper .input-radio-addon>label:before {
    background-position: -160px 0;
}
.raido-wrapper .input-radio-addon>input:checked + label:before {
    background-position: -180px 0;
}
/*body*/

a.amp-link,a.amp-link:hover,a.amp-link:active{color:#5ab46e;}
a.amp-link-warning,a.amp-link-warning:hover,a.amp-link-warning:active{color:#fe012d;}
/*input- addon */
/*
<div class="input-addon input-checkbox-addon">
    <input id="test" type="checkbox" style="display:none;">
    <label  for="test">测试</label>
</div>
*/
.input-addon {
    position: relative;
    /*width: 100%;*/
    margin-right:15px;
    margin-bottom: 0;
    height: 20px;
    overflow: hidden;
    font-size: 14px;
    color: #666;
}
.input-addon>input {
    position: absolute;
    left: -2000px;
    top:-2000px;
    opacity: 0;
}
.input-addon>label {
    display: block;
    position: relative;
    font-weight:normal;
    height: 20px;
    line-height:20px;
    padding-left: 22px;
    cursor:pointer;
}


.input-checkbox-addon>label:before {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../images/blue.png);
    background-position: 0 0;
    /*background-size: contain;*/
    background-repeat: no-repeat;
    content: " ";
}


.input-checkbox-addon>input:checked + label:before {
    background-position: -40px 0;
}

.input-radio-addon>label:before {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../images/blue.png);
    background-position: -100px 0;
    /*background-size: contain;*/
    background-repeat: no-repeat;
    content: " ";
}


.input-radio-addon>input:checked + label:before {
    background-position: -140px 0;
}

/*right panel*/
.rightpanel {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 0;
    z-index: 2999;
    overflow: hidden;

    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: width 0.3s,transform .3s;
    -moz-transition: width 0.3s,transform .3s;
    -ms-transition: width 0.3s,transform .3s;
    -o-transition: width 0.3s,transform .3s;
    transition: width 0.3s,transform .3s;
}
.open-panel .rightpanel {
    width: 880px;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    /*min-width:880px;*/
    overflow-y: auto;
}
.rightpanel .right-content-wrapper {
    position: relative;
    padding-top: 44px;
}
.rightpanel .right-content-wrapper>.right-panel-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 100%;
    background-color: #dae1e7;
    text-align: center;
}
.rightpanel .right-content-wrapper>.right-panel-header h3 {
    line-height: 44px;
    font-size: 15px;
    color: #373c42;
}
.rightpanel .right-content {
    padding:0;
}
.rightpanel .closebtn {
    position: absolute;
    top: 4px;
    left: 10px;
    width: 36px;
    height: 36px;
    font-size: 36px !important;
    font-weight:normal;
    color: #373c42;
    cursor: pointer;
    text-decoration: none;
    line-height: 30px;
}

/*backdrop*/
.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #373c42;
    opacity: 0;
    z-index: 1999;
    -webkit-transition: opactiy 0.3s;
    -moz-transition: opactiy 0.3s;
    -ms-transition: opactiy 0.3s;
    -o-transition: opactiy 0.3s;
    transition: opactiy 0.3s;
}
.open .backdrop,
.open-tool .backdrop,
.open-panel .backdrop {
    display: block;
    opacity: 0.56;
}
/*loading*/
.ys-loading {
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: transparent;*/
    background-color: rgba(255,255,255,.6);
    z-index: 3999;
}
.ys-loading>.loading-wrapper {
    width: 180px;
    height: 120px;
    padding-top: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -90px;
    margin-top: -80px;
    border-radius: 12px;
    background-color: rgba(255,255,255,1);
}
.ys-loading>.loading-wrapper>.loading-ani {
    width: 74px;
    height: 72px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -37px;
}

/*amp-table*/
.amp-table-wrapper{}
.amp-table-wrapper#project-info{padding:20px;border:solid 1px #dae1e7;background-color:#fff;}


.amp-table{margin-bottom:0;}
.amp-table thead{background-color:#f3f4f8;}
.amp-table thead>tr>th{font-size:12px;color:#8491a2;font-weight:normal;border-bottom-width: 1px;}
.amp-table tbody>tr>th,.amp-table tbody>tr>td{font-size:14px;color:#333;font-weight:normal;}

.table-right-bordered{}
.table-right-bordered.amp-table thead{background-color:#fff;}
.table-right-bordered.amp-table thead>tr>th{padding:0 38px;border-bottom-width:0;border-right:solid 1px #dae1e7;}
.table-right-bordered.amp-table tbody>tr>td{padding:0 38px;padding-top:6px;border-top:0;border-right:solid 1px #dae1e7;}
.table-right-bordered.amp-table tbody>tr>td h3{font-size:20px;color:#333;}

.table-right-bordered.amp-table thead>tr>th:nth-child(1){padding-left:18px;}
.table-right-bordered.amp-table thead>tr>th:nth-last-child(1){border-right:0;}
.table-right-bordered.amp-table tbody>tr>td:nth-child(1){padding-left:18px;}
.table-right-bordered.amp-table tbody>tr>td:nth-last-child(1){border-right:0;}

.amp-table-noborder{}
.amp-table-noborder tbody{}
.amp-table-noborder tbody>tr>th,.amp-table-noborder tbody>tr>td{border:0;}
.table>tbody+tbody {
    border-top: 1px solid #dae1e7;
}
/*amp-block-floor*/
.amp-block{}
#amp-block-floor{position:relative;padding-right:326px;min-height:350px;border:solid 1px #dae1e7;background-color:#fff;}
#amp-block-floor .amp-section-left{width:100%;border-right:solid 1px #dae1e7;}
#amp-block-floor .amp-section-right{position:absolute;top:0;right:1px;width:326px;height:100%;border-left:solid 1px #dae1e7;background-color: #fcfcfc;
    overflow: hidden;overflow-y: auto;}

#amp-block-floor .amp-section-content{padding:40px 25px;}
#amp-block-floor .panel-group{margin-bottom:10px;}
#amp-block-floor .panel-group .panel{border:0;border-radius:0;box-shadow:none;}
#amp-block-floor .panel-group .panel+.panel{margin-top:8px;}
#amp-block-floor .panel>.panel-heading{position:relative;padding:0;padding-left:138px;height:45px;background-color:#fff;border:0;overflow:visible;cursor:pointer;}

#amp-block-floor .panel-heading .amp-floor-title{position:absolute;top:6px;left:0;width:135px;height:45px;overflow: hidden;
    padding-right:30px; }
.amp-floor-title:after{display:block;position:absolute;width:14px;height:14px;line-height: 14px;text-align: center;
    font-size:14px;
    content:"\e259";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    top: 1px;
    right: 15px;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.collapsed .amp-floor-title:after{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.amp-floor-title h5{line-height: 16px;margin-top:0;font-size:14px; color:#333;}
.amp-floor-title em.amp-area-addon{display: block;line-height: 20px;font-size:12px;color:#8491a2;}

#amp-block-floor .panel-heading .amp-floor-area{position:relative;height:45px;background-color:#f3f4f8;border:solid 1px #dae1e7;}
.amp-floor-area .amp-floor-rented{position: absolute;height:45px;top:-1px;left:0;overflow: hidden;
    background-color:rgba(105,220,251,.15);border:solid 1px #69dcfb;}
#amp-block-floor .panel-heading .amp-floor-area:hover .amp-floor-rented,
#amp-block-floor .panel-heading .amp-floor-area.active .amp-floor-rented{background-color:rgba(245,140,75,.55) !important;border:solid 1px #f58c4b !important;}
.amp-floor-rented .floor-rented-info{width:100%;padding:0 15px;line-height:43px;/*min-width:186px;*/overflow: hidden;}
.amp-floor-rented .floor-rented-info>em{display: inline-block;}
.amp-floor-rented .floor-rented-info>em.amp-rented-area{font-size:14px;color:#333;margin-right:15px;}
.amp-floor-rented .floor-rented-info>em.amp-rented-rate{font-size:16px;color:#333;}

.panel-default>.panel-heading+.panel-collapse>.panel-body{padding:0;padding-left:138px;border-top:0;}

ul.amp-shop-wrapper{padding:0;margin:0;list-style: none;}
ul.amp-shop-wrapper>li{min-width:10px;max-width:100%;float:left;background-color:rgba(133,146,163,.15);border:solid 1px #8592a3;
    height:32px;line-height: 32px;cursor:pointer;position:relative;}
.shop-item-info{width:100%;padding:0 10px;line-height:43px;/*min-width:186px;*/overflow: hidden;}
.shop-item-info>h5{float:left;margin:0;margin-right:10px;font-size:12.8px;line-height: 30px;color:#333;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.shop-item-info>span{display: block;font-size:12.8px;line-height:30px;color:#8491a2;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }

ul.amp-shop-wrapper>li.shop-status-rented{background-color:rgba(105,220,251,.15);border:solid 1px #69dcfb;}
ul.amp-shop-wrapper>li.shop-status-expired{background-color:rgba(250,210,78,.15);border:solid 1px #fad24c;}
ul.amp-shop-wrapper>li.shop-status-arrearage{background-color:rgba(238,28,67,.15);border:solid 1px #ee1c43;}
ul.amp-shop-wrapper>li:hover,
ul.amp-shop-wrapper>li.active{background-color:rgba(245,140,75,.15) !important;border:solid 1px #f58c4b !important;}


/*legend-wrapper*/
.legend-wrapper{margin-top:20px;margin-bottom:20px;}
.chart-legend{height:38px;line-height: 38px;text-align: left;padding-left:138px;}
.chart-legend>.chart-legend-item{display: inline-block;position: relative;margin-right:15px;height:38px;line-height: 38px;
    padding-left:18px;font-size:12.8px;color:#8491a2;}
.chart-legend-item>em.color-label{position:absolute;top:50%;margin-top:-6.4px;left:0;display: block;width:12.8px;height:12.8px;background-color:#8592a3;}
em.em-unit{color:#8491a2;}
em.amp-chart-unit{display: block;position: absolute;
    font-size:12px;color:#8491a2;top:0;left:15px;}
/*amp-section-right*/
.amp-section-right{}
.amp-section-right .amp-panel{}
.amp-panel .amp-panel-title{border-bottom: solid 1px #dae1e7;}
.amp-panel .amp-panel-title>h3{padding:0 15px;font-size:20px;line-height: 42px;border-bottom:solid 1px #dae1e7;}
.amp-panel .amp-panel-title>.amp-table-wrapper{padding:15px;}

.amp-section-right .table-right-bordered.amp-table thead{background-color:transparent;}
.amp-section-right .table-right-bordered.amp-table thead>tr>th{padding:0 10px;border-bottom-width:0;border-right:solid 1px #dae1e7;}
.amp-section-right .table-right-bordered.amp-table tbody>tr>td{padding:0 10px;padding-top:6px;border-top:0;border-right:solid 1px #dae1e7;}
.amp-section-right .table-right-bordered.amp-table tbody>tr>td h3{font-size:20px;color:#333;}

.amp-section-right .table-right-bordered.amp-table thead>tr>th:nth-child(1){padding-left:0;}
.amp-section-right .table-right-bordered.amp-table thead>tr>th:nth-last-child(1){border-right:0;}
.amp-section-right .table-right-bordered.amp-table tbody>tr>td:nth-child(1){padding-left:0;}
.amp-section-right .table-right-bordered.amp-table tbody>tr>td:nth-last-child(1){border-right:0;}

.amp-section-right .amp-table-noborder tbody>tr>th,
.amp-section-right .amp-table-noborder tbody>tr>td{padding-left:15px;font-size:12.8px;}
.amp-section-right .amp-table-noborder tbody>tr>th{color:#8491a2;padding-right:0;}
.amp-section-right .amp-table-noborder tbody>tr>td{color:#333;}
/*menu-view*/
.datetimepicker {
    min-width:220px;
}
.datetimepicker table {
    margin: 0;
    width: 100%;
}
.icon-arrow-left:before {
    content: "\e091";
}
.icon-arrow-right:before {
    content: "\e092";
}
/*page blank*/
.blank>h3{position: absolute;top:50%;left:50%;margin-top:-75px;margin-left:-75px;
    width:150px;height:150px;padding-top:80px;
    font-size:15px;color:#333;line-height: 1.5;text-align: center;}
.blank>h3:before{display: block;width:68px;height:55px;position: absolute;top:15px;  left:50%;margin-left:-34px;content:" ";
    background-image:url(../images/blank.png);background-size:contain;background-repeat: no-repeat;background-position: center center;}

/*right panel*/
.rpanel-title{padding-left:25px;padding-right:25px;background-color:#f3f4f8;}
.rpanel-title h3{height:44px;line-height: 44px;font-size:16px;color:#333;}
.rpanel-content{padding:20px 25px;}
/*modal*/

